@model ClientViewModel

@{
    ViewData["Title"] = "Client";
}

<div class="page-inner">
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Modifier client</div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="Name"></label>
                            <input asp-for="Name" class="form-control"/>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input asp-for="Email" class="form-control"/>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Address"></label>
                            <input asp-for="Address" class="form-control"/>
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SkinType"></label>
                            <input asp-for="SkinType" class="form-control"/>
                            <span asp-validation-for="SkinType" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="card-action">
                        <input type="submit" value="Save" class="btn btn-success"/>
                        <button class="btn btn-danger">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>